<% layout('layout/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form method="POST" action="/campgrounds/<%=campground._id%>/?_method=PUT" class="validated-form" novalidate
            enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label"> Camp Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title"
                    value="<%=campground.title%>" required>
                <div class="valid-feedback"> Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location"> Camp Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location"
                    value="<%=campground.location%>" required>
                <div class="valid-feedback"> Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="number" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        name="campground[price]" value="<%=campground.price%>" aria-describedby=" price-label" required>
                    <div class="valid-feedback"> Looks Good!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required><%= campground.description%></textarea>
                <div class="valid-feedback"> Looks Good!
                </div>
            </div>
            <div class="mb-3 custom-file">
                <label for="image" class="form-label">Add More Images</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
                <label for="image" class="custom-file-label text-muted"></label>
            </div>

            <h5> Delete Images </h5>
            <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                <% campground.images.forEach((img, i) => { %>
                <div class="col">
                    <div class="card">
                        <img class="card-img" src="<%= img.thumbnail %>" alt="" crossorigin>
                        <div class="card-img-overlay text-end pt-1 pe-2">
                            <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                            <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                value="<%= img.filename %>" id="image-<%= i %>">
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>


            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>

        </form>
        <a href="/campgrounds/<%=campground._id%>">Back to Campgrounds</a>
    </div>
</div>